@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
:root{
    --ship-color: #b3d3ea;
    --cross-icon: url('assets/cross.svg') center/90% no-repeat;
    --dot-icon: url('assets/dot.svg') center/90% no-repeat;
    --font-fira: 'Fira Code', monospace;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 250, 255);
    font-family: var(--font-fira)
}

button{
    font-family: var(--font-fira);
}

#header {
    display: flex;
    justify-content: space-between;
    height: 5%;
}

#logo{
    padding: 1em;
    margin-bottom: .5em ;
    font-size: 1.2em;
}


.container, 
.ship-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 95%;
}

#board1, #board2{
    margin: 1em;
    border: 2px solid rgb(70, 69, 69);
    box-sizing: border-box;
    border-radius: 3px;
}

#ships{
    height: 271px;
    width: 314px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em;
}

.row{
    display: flex;
}

.cell-p1,
.cell-p2{
    width: 30px;
    height: 30px;
    border: .5px solid rgb(162, 199, 211);
}

.cell-p2:hover{
    background-color: rgba(211, 211, 211, 0.5);
    cursor: crosshair;
}

.ship{
    background-color: var(--ship-color);
    border:.5px solid rgb(36, 36, 168);
}

.ship-hit{
    background:var(--cross-icon) ;
    background-color: rgba(255, 0, 0, 0.5);
    border:.5px solid rgb(36, 36, 168);
}

.miss{
    background: var(--dot-icon);
}

.draggable-container{
    margin: .1em;
}

.drag-container-vertical{
    display: flex;
    flex-direction: column;
}

.drag-container-horizontal{
    display: flex;
}

.drag-ship{
    width: 30px;
    height: 30px;
    background-color: var(--ship-color);
    border:.5px solid rgb(67, 67, 150);
    cursor: move;
}

.cell-p1--over{
    background-color: var(--ship-color);
}

.blurry{
    filter: blur(3px);
    pointer-events: none; 
}

/* CSS */
.button {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font-fira);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin-top: 10px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .button:hover,
  .button:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }
  
  .button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }